In [1]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('insurance_data.csv')
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test , y_train, y_test = train_test_split(df[['age']],df.bought_insurance, test_size=0.1)

In [11]:
x_test

    age
8    62
11   28
16   25

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
reg = LogisticRegression()

In [14]:
reg.fit(x_train,y_train)

LogisticRegression()

In [16]:
reg.predict(x_train)

array([0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0], dtype=int64)

In [18]:
reg.score(x_train,y_train)

0.875

In [22]:
reg.predict(np.array[["23","25"]])

TypeError: 'builtin_function_or_method' object is not subscriptable