<h3>Exercise</h3>
Build decision tree model to predict survival based on certain parameters
CSV file is available to download at
https://github.com/codebasics/py/blob/master/ML/9_decision_tree/Exercise/titanic.csv

In this file using following columns build a model to predict if person would survive or not,
<ul>
    <li>Pclass</li>
<li>Sex</li>
<li>Age</li>
<li>Fare</li></ul>
Calculate score of your model

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
inputs= df[['Pclass','Sex','Age','Fare']]
target= df.Survived

In [5]:
from sklearn.preprocessing import LabelEncoder
le_Pclass = LabelEncoder()
le_Sex = LabelEncoder()
le_Age = LabelEncoder()
le_Fare = LabelEncoder()

In [8]:
inputs['Pclass_n']=le_Pclass.fit_transform(inputs['Pclass'])
inputs['Age_n']=le_Age.fit_transform(inputs['Age'])
inputs['Sex_n']=le_Sex.fit_transform(inputs['Sex'])
inputs['Fare_n']=le_Fare.fit_transform(inputs['Fare'])

C:\Users\DELL\AppData\Local\Temp/ipykernel_9968/222348871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['Pclass_n']=le_Pclass.fit_transform(inputs['Pclass'])
C:\Users\DELL\AppData\Local\Temp/ipykernel_9968/222348871.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['Age_n']=le_Age.fit_transform(inputs['Age'])
C:\Users\DELL\AppData\Local\Temp/ipykernel_9968/222348871.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['Sex_n']=le_Sex.fit_transform(inputs['Sex'])
C:\Users\DELL\AppData\Local\Temp/ipykernel_9968/222348871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['Fare_n']=le_Fare.fit_transform(inputs['Fare'])

In [10]:
inputs_n=inputs.drop(['Pclass','Age','Sex','Fare'],axis='columns')

In [11]:
inputs_n

     Pclass_n  Age_n  Sex_n  Fare_n
0           2     28      1      18
1           0     51      0     207
2           2     34      0      41
3           0     47      0     189
4           2     47      1      43
..        ...    ...    ...     ...
886         1     35      1      85
887         0     24      0     153
888         2     88      0     131
889         0     34      1     153
890         2     42      1      30

[891 rows x 4 columns]

In [12]:
from sklearn import tree

In [13]:
model =tree.DecisionTreeClassifier()

In [14]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [15]:
model.score(inputs_n,target)

0.9797979797979798

In [17]:
model.predict([[1,4,0,6]])

array([1], dtype=int64)